boto3==1.36.16
ccxt==4.4.63
dependency_injector==4.45.0
fastapi==0.115.11
mangum==0.19.0
matplotlib==3.10.1
mplfinance==0.12.10b0
numpy==1.26.4
openai==1.66.3
pandas==2.2.3
pydantic==2.10.6
pydantic_settings==2.8.1
python-dotenv==1.0.1
Requests==2.32.3
scikit_learn==1.6.1
SQLAlchemy==2.0.35
starlette==0.46.1
yfinance
psycopg2-binary==2.9.9
regex==2024.11.6
threads_api==1.2.0
playwright==1.47.0
pandas_ta==0.3.14b0
pandas_datareader==0.10.0
cloudscraper==1.2.71
pdfplumber==0.11.6
google-genai
PyJWT==2.8.0
